.jumbotron {
    position: absolute;
    top: 40%;
    left: 25%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    width: 50%;
}
img {
    max-width: 100%;
    max-height: 100%;
}

.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto;
}

video {
    width: 1024px;
    height: 576px;
    justify-content: center;
}

.carousel iframe {
    width: 100%;

    height: auto

}
.video {
    padding:.1rem .5rem;
}

.banner {
    text-align: center;
    background-color: black;
    color: white;
    width: 100%;
    padding: 1rem;
    margin: .5rem auto;
}